/* 
${name} ${version} version information as SQL view

${if(description)}${description}${endif}

${if(author)}authors:
${for(author)}
  ${it.familyName}, ${it.givenName} ${it.at__id}
${endfor}

${endif}
${if(contributor)}contributors:
${for(contributor)}
  ${it.familyName}, ${it.givenName} ${it.at__id}
${endfor}

${endif}
${if(maintainer)}maintainers:
${for(maintainer)}
  ${it.familyName}, ${it.givenName} ${it.at__id}
${endfor}

${endif}

Git Repo: ${if(codeRepository)}${codeRepository}${endif}

*/
\c ${name}
CREATE OR REPLACE VIEW ${name}.version AS
   SELECT '${name}' AS app_name, '${version}' AS version;

