- [Home](${settings.base_url}/app/)
- [Dashboard](${settings.base_url}/app/dashboard.html)
- [API Help](${settings.base_url}/app/api-help.html)
- [About](${settings.base_url}/app/about.html)
- [Logout](/Shibboleth.sso/Logout)
