<!DOCTYPE html>
<html lang="en-US">
{{>head}}
{{>header}}
<nav>
<ul>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
</ul>
</nav>
<section>
<h1>CaltechFUNDERS</h1>
<ul>
{{#funder_list}}
  <li><a href="{{clfid}}" title="view funder details">{{name}}</a></li>
{{/funder_list}}
</ul>
</section>
{{>footer}}
</html>
