<!DOCTYPE html>
<html lang="en-US">
{{>collection_head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./?view=create">Add Group</a></li>
</ul>
</nav>
<section>
<h1>CaltechGROUPS</h1>
<a-to-z-ul id="group_list" long>
<ul>
{{#group_list}}
  <li><a href="{{clgid}}" title="view group details">{{group_name}}</a></li>
{{/group_list}}
</ul>
</a-to-z-ul>
</section>
{{>footer}}
<script type="module" src="../js/a_to_z_ul.js"></script>
  
</body>
</html>
