<!DOCTYPE html>
<html lang="en-US">
{{>head}}
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
</ul>
</nav>
<section>
<h1>CaltechGROUPS</h1>
<ul>
{{#group_list}}
  <li><a href="{{clgid}}" title="view group details">{{group_name}}</a></li>
{{/group_list}}
</ul>
</section>
{{>footer}}
</html>
