<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
  <li><a href="/" title="return home">Home</a></li>
  <li><a href="./" title="return to dashboard">Dashboard</a></li>
  <li><a href="https://github.com/caltechlibrary/cold/issues">Report a problem</a></li>
  <li><a href="./about.html">About</a></li>
</ul>
</nav>
<section>

{{{page.body}}}

</section>
{{>footer}}
<code><pre>{{debug_src}}</pre></code>
</body>
</html>
