<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
  <li><a href="{{base_path}}/" title="return to dashboard">Dashboard</a></li>
  <li><a href="{{base_path}}/user_manual.html">Help</a></li>
  <li><a href="https://github.com/caltechlibrary/cold_ui/issues">Report a problem</a></li>
</ul>
</nav>
<section>

{{{page.body}}}

</section>
{{>footer}}
<code><pre>{{debug_src}}</pre></code>
</body>
</html>
