<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<a href="#main-content" class="visually-hidden">skip to main content</a>
<nav>
<ul>
  <li><a href="/" title="return home">All Library Apps</a></li>
  <li><a href="./" title="return to dashboard">Dashboard</a></li>
  <li><a href="https://github.com/caltechlibrary/cold/issues">Report a problem</a></li>
  <li><a href="./about.html">About</a></li>
</ul>
</nav>
<section id="main-content">

{{{page.body}}}

</section>
{{>footer}}
<code><pre>{{debug_src}}</pre></code>
</body>
</html>
