<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="./?view=create">Add a Person</a></li>
</ul>
</nav>
<section>
<h1>CaltechPEOPLE</h1>
<a-to-z-ul id="people_list" long>
<ul>
{{#people_list}}
  <li><a href="{{clpid}}" title="view people details">{{family_name}}, {{given_name}}</a></li>
{{/people_list}}
</ul>
</section>
{{>footer}}
<script type="module" src="{{base_url}}/js/a_to_z_ul.js"></script>
</body>
</html>
