<!DOCTYPE html>
<html lang="en-US">
{{>head}}
<body>
{{>header}}
<nav>
<ul>
<li><a href="/" title="return home">Home</a></li>
<li><a href="../" title="return to dashboard">Dashboard</a></li>
<li><a href="{{people.clpid}}">View {{people.clpid}}</a></li>
</ul>
</nav>
<section>
<h1>Report Request</h1>

<form action="{{report_queue.id}}" method="post">

<div>
<label set="report_name">Directory User ID</label>
<select name="report_name" id="report_name">
  <option value="rpt_people_csv">Report People (CSV)</option>
</select>
</div>

<div>
<label set="report_options">Report Options</label>
<textarea id="report_options" name="report_options" placeholder="Include any options, one per line"></textarea>
</div>

<div>
<label set="email">Email</label>
<input type="email" id="email" required="true" />
</div>

<div>
<input type="submit" id="submit" name="submit" value="submit"> <input type="reset" id="reset" name="reset" value="reset">
</div>
</form>

<p>
<div class="foot_note" id="directory_note">◇ indicates data managed by <a href="https://directory.caltech.edu">Caltech Directory</a></div>
</section>
{{>footer}}
</body>
</html>
