/**
 * people.css this is the default styling for our custom web component.
 * It can be augmented by the stylesheet in `/css/people.css`.
 */

label {
    vertical-align: top;
    text-align: right;
}

table {
    width: auto;
    border-collapse: collapse;
    border: 0.24em solid black;
}

th {
    margin-left: 0.12em;
    margin-right: 0.12em;
    padding-left: 0.24em;
    padding-right: 0.24em;
    text-align: left;
    text-overflow: ellipsis;
    font-size:smaller;
    font-weight: lighter;
    border-bottom: 0.24em solid black;
    border-right: 0.12em solid black;
    text-transform: uppercase;
    text-decoration: underline;
}

tr {
    border-bottom: 0.12em solid black;
}


td {
    align-items: left;
    justify-content: left;
    margin: 0.12em;
    padding: 0.24em;
    text-align: left;
    vertical-align: top;
    height: auto;
    width: auto;
    border-left: 0.06em solid black;
}

.no-display {
    display: none;
}

.people-display {
    border: 2px solid blue;
    max-width: 85%;
}

.people-display > div {
    display: grid;
    grid-template-columns: 10% auto;
    gap: 0.24em;
    padding: 0.24em;
    margin: 0.24em;
}

.people-display > div > label {
    grid-column: 1 / 2;
    text-align: right;
}

.people-display > div > span {
    grid-column: 2 / 2;
}

.people-input > div {
    display: grid;
    grid-template-columns: 10% 70%;
    gap: 0.24em;
    padding: 0.24em;
    margin: 0.24em;
}

.people-input > div > label {
    grid-column: 1 / 2;
    text-align: right;
}

.people-input > div > input, .people-input > div > textarea, .people-input > div > select {
    grid-column: 2 / 2;
    text-align: left;
}

.people-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.24em;
    margin: 0.24em;
}


.people-row-action {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8em;
    border: none;
}

.people-pager-status {
    display: none;
}

.people-pager-pos {
}

.people-pager-size {
}

.people-pager-total {
}

